target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/.classpath
/.project
/.settings/
*.iml
.idea
/.attach_pid11854
/.attach_pid4865
/MonitorResults
/MonitorResults.svg
